# clean yearly econ data for 2015 to 2018

In [3]:
import geopandas as gpd
import matplotlib as plt
import pandas as pd
import os
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from shapely.geometry import Point
6
%matplotlib inline

import seaborn as sns
#plt.style.use('seaborn')
plt.rcParams['figure.dpi'] = 160

In [4]:
import pandas as pd
import geopandas as gpd
from geopandas import GeoDataFrame

import numpy as np
import matplotlib.pyplot as plt
from shapely.geometry import Point 
%matplotlib inline

In [9]:
ecodata15=pd.read_csv('../Data/ProjectData/CCA_2015_RAW.csv')
ecodata16=pd.read_csv('../Data/ProjectData/CCA_2016_RAW.csv')
ecodata17=pd.read_csv('../Data/ProjectData/CCA_2017_RAW.csv')
ecodata18=pd.read_csv('../Data/ProjectData/CCA_2018_RAW.csv')

ecodata=pd.read_csv('../Data/ProjectData/Community_Data_Snapshots_2023.csv')

In [10]:
print(f'2022: {ecodata.shape}')
print(f'2015: {ecodata15.shape}')
print(f'2016: {ecodata16.shape}')
print(f'2017: {ecodata17.shape}')
print(f'2018: {ecodata18.shape}')

2022: (77, 259)
2015: (77, 132)
2016: (77, 156)
2017: (77, 156)
2018: (77, 227)

In [11]:
print(ecodata15) #CCA
print(ecodata16) #GEOG
print(ecodata17) #GEOG
print(ecodata18) #GEOG

    OBJECTID             CCA  2000_POP  2010_POP  POP_CHANGE  TOT_EMP_RES  \
0          1     Albany Park     57655     51542       -6113        16850
1          2  Archer Heights     12644     13393         749         4620
2          3   Armour Square     12032     13391        1359         4599
3          4         Ashburn     39584     41081        1497        15541
4          5  Auburn Gresham     55928     48743       -7185        13475
..       ...             ...       ...       ...         ...          ...
72        73       West Lawn     29235     33355        4120        10676
73        74    West Pullman     36649     29651       -6998         9481
74        75      West Ridge     73199     71942       -1257        23969
75        76       West Town     87435     82236       -5199        39396
76        77        Woodlawn     27086     23740       -3346         6873

                   RES_NAICS1_TYPE RES_NAICS2_TYPE  \
0                      Health Care    Retail Trade
1                    Manufacturing    Retail Trade
2   Accommodation and Food Service     Health Care
3                      Health Care       Education
4                      Health Care       Education
..                             ...             ...
72                   Manufacturing    Retail Trade
73                     Health Care       Education
74                     Health Care    Retail Trade
75                    Professional     Health Care
76                     Health Care       Education

                   RES_NAICS3_TYPE                 RES_NAICS4_TYPE  ...  \
0   Accommodation and Food Service                   Manufacturing  ...
1                   Administration  Accommodation and Food Service  ...
2                     Retail Trade                   Manufacturing  ...
3            Public Administration                    Retail Trade  ...
4                     Retail Trade                  Administration  ...
..                             ...                             ...  ...
72                     Health Care                  Administration  ...
73                    Retail Trade                  Administration  ...
74                       Education  Accommodation and Food Service  ...
75                       Education  Accommodation and Food Service  ...
76                  Administration                    Retail Trade  ...

   BR_0_1   BR_2   BR_3  BR_4  BR_5  HV_LT_150K  HV_150_300K HV_300_500K  \
0    4504   7616   4409  1165   319         920         3048        1559
1     290   1502   1669   431   288         485         1521         228
2    1530   1707   1926   398   159         303          990         456
3     242   2279   7456  2593   830        3807         6663         572
4    3958   6593   6986  2192   897        4314         3187         266
..    ...    ...    ...   ...   ...         ...          ...         ...
72    728   2314   4148  1730   802        2244         4281         105
73    697   2445   5670  1781   942        3720         1826          72
74   6843   9444   8858  1789   636        3421         4001        3832
75   8668  19240  10147  2330   730         685         2841        6745
76   2943   3848   4179   946   267         744          906         245

   HV_GT_500K       MED_HV
0         671  252041.9426
1          45  198606.9277
2         217  255531.6092
3          18  171042.9897
4          33  137965.1163
..        ...          ...
72         21  167625.4889
73         50  121938.7755
74        609  243299.5495
75       4163  390266.5688
76         38  183020.8333

[77 rows x 132 columns]
    OBJECTID            GEOG  2000_POP  2010_POP  POP_CHANGE  TOT_POP  UND19  \
0          1     Albany Park     57655     51542       -6113    52930  14351
1          2  Archer Heights     12644     13393         749    13971   4319
2          3   Armour Square     12032     13391        1359    13907   3037
3          4         Ashburn     39584     41081        1497    42809  12553
4          5  Auburn Gresham     55928     48743       -7185    47611  13305
..       ...             ...       ...       ...         ...      ...    ...
72        73       West Lawn     29235     33355        4120    33477  11179
73        74    West Pullman     36649     29651       -6998    28171   8646
74        75      West Ridge     73199     71942       -1257    73019  20305
75        76       West Town     87435     82236       -5199    85211  15025
76        77        Woodlawn     27086     23740       -3346    22817   7437

    A20_34  A35_49  A50_64  ...         IND    INDperc        TRANS  \
0    14417   11908    8016  ...   19.929938   1.621420   414.736812
1     3277    2876    2058  ...  344.677590  26.848038   558.599207
2     3206    2434    2651  ...   18.046053   2.831079   343.648391
3     8473    8808    8724  ...  104.574805   3.362800  1064.249375
4     9014    8262    9515  ...   57.729492   2.393450   834.435659
..     ...     ...     ...  ...         ...        ...          ...
72    8003    6934    4694  ...  191.110982  10.113261   636.605139
73    5232    5153    5154  ...   63.717179   2.793241   816.956581
74   15361   14754   13368  ...    2.962216   0.131093   655.581024
75   36608   19508    9058  ...  193.519056   6.608235  1088.025977
76    4970    4308    3766  ...    3.804855   0.287106   349.115958

    TRANSperc        AG    Agperc        OPEN   OPENperc      VACANT   VACperc
0   33.741335  0.000000  0.000000   25.293181   2.057752    6.672887  0.542880
1   43.511076  0.000000  0.000000   12.295439   0.957731   32.517216  2.532870
2   53.911829  0.000000  0.000000   15.019249   2.356231   14.366379  2.253809
3   34.222945  0.000000  0.000000  259.867667   8.356535   83.385680  2.681424
4   34.595488  0.000000  0.000000   59.011603   2.446606  119.183176  4.941304
..        ...       ...       ...         ...        ...         ...       ...
72  33.688037  0.000000  0.000000   35.652789   1.886684   52.233939  2.764129
73  35.813833  0.212537  0.009317   43.467025   1.905512  226.990983  9.950856
74  29.012758  0.000000  0.000000  188.532119   8.343495   16.658137  0.737206
75  37.153608  0.000000  0.000000  239.329738   8.172565   69.981987  2.389725
76  26.343550  0.000000  0.000000  348.365832  26.286947  119.500534  9.017257

[77 rows x 156 columns]
    OBJECTID            GEOG  2000_POP  2010_POP  POP_CHANGE  TOT_POP  UND19  \
0          1     Albany Park     57655     51542       -6113    52079  13550
1          2  Archer Heights     12644     13393         749    13266   4205
2          3   Armour Square     12032     13391        1359    14068   3029
3          4         Ashburn     39584     41081        1497    42752  12506
4          5  Auburn Gresham     55928     48743       -7185    45842  12050
..       ...             ...       ...       ...         ...      ...    ...
72        73       West Lawn     29235     33355        4120    32749  10654
73        74    West Pullman     36649     29651       -6998    27982   8308
74        75      West Ridge     73199     71942       -1257    72211  19462
75        76       West Town     87435     82236       -5199    86429  15453
76        77        Woodlawn     27086     23740       -3346    24150   8195

    A20_34  A35_49  A50_64  ...         IND   INDperc        TRANS  TRANSperc  \
0    13719   11806    8412  ...   20.188115  0.016424   413.623654   0.336509
1     2948    2830    1924  ...  333.605519  0.259857   555.886936   0.433000
2     3004    2500    2806  ...   18.034999  0.028294   343.632520   0.539096
3     8188    8951    8557  ...  103.805630  0.033381  1071.498311   0.344562
4     8948    7776    9624  ...   54.893064  0.022759   834.364134   0.345927
..     ...     ...     ...  ...         ...       ...          ...        ...
72    7741    6901    4670  ...  192.902477  0.102081   636.689977   0.336927
73    5399    4966    5185  ...   60.410103  0.026483   798.338242   0.349978
74   15563   14244   13754  ...    2.584204  0.001144   655.619544   0.290146
75   37151   19877    8986  ...  190.733223  0.065131  1085.935600   0.370824
76    5151    4574    3708  ...    3.764897  0.002841   341.125558   0.257392

          AG    Agperc        OPEN  OPENperc      VACANT   VACperc
0        NaN       NaN   28.102925  0.022864    5.474954  0.004454
1        NaN       NaN   15.005146  0.011688   33.087293  0.025773
2        NaN       NaN   15.019186  0.023562   14.762374  0.023159
3        NaN       NaN  259.866614  0.083565   41.085006  0.013212
4        NaN       NaN   59.343998  0.024604  122.035750  0.050596
..       ...       ...         ...       ...         ...       ...
72       NaN       NaN   35.652646  0.018867   38.828819  0.020548
73  0.212536  0.000093   87.396537  0.038313  216.722638  0.095007
74       NaN       NaN  188.531377  0.083435   11.537577  0.005106
75       NaN       NaN  242.089373  0.082668   67.398364  0.023015
76       NaN       NaN  357.380485  0.269657  122.222330  0.092221

[77 rows x 156 columns]
    OBJECTID            GEOG  2000_POP  2010_POP  TOT_POP  UND19  A20_34  \
0          1     Albany Park     57655     51542    51575  13354   13738
1          2  Archer Heights     12644     13393    13233   4016    2933
2          3   Armour Square     12032     13391    13699   2997    2824
3          4         Ashburn     39584     41081    43283  12983    8368
4          5  Auburn Gresham     55928     48743    45770  11432    9224
..       ...             ...       ...       ...      ...    ...     ...
72        73       West Lawn     29235     33355    33595  11317    7883
73        74    West Pullman     36649     29651    27582   7743    5668
74        75      West Ridge     73199     71942    73723  19951   16264
75        76       West Town     87435     82236    85307  14797   36427
76        77        Woodlawn     27086     23740    23808   7814    5480

    A35_49  A50_64  A65_74  ...  2000_RENT_OCC_HU  2000_VAC_HU  2000_HU_TOT  \
0    11975    8232    2329  ...               NaN          NaN          NaN
1     2879    1897     907  ...               NaN          NaN          NaN
2     2539    2541    1371  ...               NaN          NaN          NaN
3     8998    8477    2855  ...               NaN          NaN          NaN
4     7941    9587    4041  ...               NaN          NaN          NaN
..     ...     ...     ...  ...               ...          ...          ...
72    7120    4544    1597  ...               NaN          NaN          NaN
73    4806    5160    2552  ...               NaN          NaN          NaN
74   14581   13704    5138  ...               NaN          NaN          NaN
75   20110    8722    3175  ...               NaN          NaN          NaN
76    4127    3748    1693  ...               NaN          NaN          NaN

    2000_LT_HS  2000_HS  2000_SOME_COLL  2000_ASSOC  2000_BACH  \
0          NaN      NaN             NaN         NaN        NaN
1          NaN      NaN             NaN         NaN        NaN
2          NaN      NaN             NaN         NaN        NaN
3          NaN      NaN             NaN         NaN        NaN
4          NaN      NaN             NaN         NaN        NaN
..         ...      ...             ...         ...        ...
72         NaN      NaN             NaN         NaN        NaN
73         NaN      NaN             NaN         NaN        NaN
74         NaN      NaN             NaN         NaN        NaN
75         NaN      NaN             NaN         NaN        NaN
76         NaN      NaN             NaN         NaN        NaN

    2000_GRAD_PROF  2000_POP_25OV
0              NaN            NaN
1              NaN            NaN
2              NaN            NaN
3              NaN            NaN
4              NaN            NaN
..             ...            ...
72             NaN            NaN
73             NaN            NaN
74             NaN            NaN
75             NaN            NaN
76             NaN            NaN

[77 rows x 227 columns]

In [12]:
temp_dup=np.intersect1d(ecodata15.columns.values,ecodata16.columns.values)
# temp_dup=np.intersect1d(ecodata16.columns.values,temp_dup)
temp_dup=np.intersect1d(ecodata17.columns.values,temp_dup)
temp_dup=np.intersect1d(ecodata18.columns.values,temp_dup)
len(temp_dup)

126

In [13]:
print(temp_dup)

['2000_POP' '2010_POP' 'A20_34' 'A35_49' 'A50_64' 'AG' 'ASIAN' 'AVG_VMT'
 'Agperc' 'BACH' 'BLACK' 'BR_0_1' 'BR_2' 'BR_3' 'BR_4' 'BR_5' 'CARPOOL'
 'COMM' 'COMM_OTHER' 'COMMperc' 'DROVE_AL' 'EMP' 'HA_40_70' 'HA_70_00'
 'HA_AFT2000' 'HA_BEF1940' 'HISP' 'HS' 'HU_2UN' 'HU_3_4UN' 'HU_GT_5UN'
 'HU_SNG_ATT' 'HU_SNG_DET' 'HU_TOT' 'HV_150_300K' 'HV_300_500K'
 'HV_GT_500K' 'HV_LT_150K' 'INC_100_150K' 'INC_25_50K' 'INC_50_75K'
 'INC_75_100K' 'INC_GT_150' 'INC_LT_25K' 'IND' 'INDperc' 'INST' 'INSTperc'
 'IN_LBFRC' 'MED_AGE' 'MED_HA' 'MED_HV' 'MED_ROOMS' 'MF' 'MIX' 'MIXperc'
 'Mfperc' 'NOT_IN_LBFRC' 'OBJECTID' 'OPEN' 'OPENperc' 'OTHER' 'OWN_OCC_HU'
 'POP_16OV' 'POP_25OV' 'POP_HH' 'RENT_OCC_HU' 'RES_CITY1_COUNT'
 'RES_CITY1_TYPE' 'RES_CITY2_COUNT' 'RES_CITY2_TYPE' 'RES_CITY3_COUNT'
 'RES_CITY3_TYPE' 'RES_CITY4_COUNT' 'RES_CITY4_TYPE' 'RES_CITY5_COUNT'
 'RES_CITY5_TYPE' 'RES_NAICS1_COUNT' 'RES_NAICS1_TYPE' 'RES_NAICS2_COUNT'
 'RES_NAICS2_TYPE' 'RES_NAICS3_COUNT' 'RES_NAICS3_TYPE' 'RES_NAICS4_COUNT'
 'RES_NAICS4_TYPE' 'RES_NAICS5_COUNT' 'RES_NAICS5_TYPE' 'SF' 'Sfperc'
 'TOT_ACRES' 'TOT_COMM' 'TOT_EMP_RES' 'TOT_EMP_WORK' 'TOT_HH' 'TOT_POP'
 'TRANS' 'TRANSIT' 'TRANSperc' 'UND19' 'UNEMP' 'VACANT' 'VAC_HU' 'VACperc'
 'WALK_BIKE' 'WHITE' 'WORK_AT_HOME' 'WORK_CITY1_COUNT' 'WORK_CITY1_TYPE'
 'WORK_CITY2_COUNT' 'WORK_CITY2_TYPE' 'WORK_CITY3_COUNT' 'WORK_CITY3_TYPE'
 'WORK_CITY4_COUNT' 'WORK_CITY4_TYPE' 'WORK_CITY5_COUNT' 'WORK_CITY5_TYPE'
 'WORK_NAICS1_COUNT' 'WORK_NAICS1_TYPE' 'WORK_NAICS2_COUNT'
 'WORK_NAICS2_TYPE' 'WORK_NAICS3_COUNT' 'WORK_NAICS3_TYPE'
 'WORK_NAICS4_COUNT' 'WORK_NAICS4_TYPE' 'WORK_NAICS5_COUNT'
 'WORK_NAICS5_TYPE']

In [14]:
col_races=["WHITE", "HISP", "BLACK", "ASIAN", "OTHER"]
col_edu=["LT_HS", "HS", "SOME_COLL", "ASSOC", "BACH", "GRAD_PROF", "UND5"]

col_ages=["A5_19", "A20_34", "A35_49", "A50_64", "A65_74", "A75_84", "OV85"]  ##ages
col_emp=[ "IN_LBFRC", "EMP", "UNEMP", "NOT_IN_LBFRC","MED_HV"]    ## employment status
col_inc=["INC_LT_25K", "INC_25_50K", "INC_50_75K", "INC_75_100K", "INC_100_150K",\
         "INC_GT_150", "MEDINC", "INCPERCAP"] ## Household Income
col_dev=["COMPUTER", "ONLY_SMARTPHONE", "NO_COMPUTER", "INTERNET", "BROADBAND", "NO_INTERNET"]   ## Household Computer and Internet Access
col_comm=["TRANSIT_LOW_PCT", "TRANSIT_MOD_PCT", "TRANSIT_HIGH_PCT"]  ## Transit Availability of Resident and Job Locations
col_walk=["WALKABLE_LOW_PCT", "WALKABLE_MOD_PCT", "WALKABLE_HIGH_PCT"]  ## Walkability of Resident and Job Locations

In [15]:
all_raw=[ecodata15,ecodata16,ecodata17,ecodata18]

In [16]:
for name,df in zip(['15','16','17','18'], all_raw):
#     print(df.shape)
    try:
        t=df[col_races]
        print(t.shape)
    except Exception as e:
        print(e)

(77, 5)
(77, 5)
(77, 5)
(77, 5)

In [17]:
col_edu1=['LT_HS', 'HS', 'SOME_COLL',
       'ASSOC', 'BACH', 'GRAD_PROF']
for name,df in zip(['15','16','17','18'], all_raw):
    try:
        t=df[col_edu]
        print(t.shape)
    except Exception as e:
        print(e)

"['LT_HS', 'SOME_COLL', 'ASSOC', 'GRAD_PROF', 'UND5'] not in index"
"['LT_HS', 'SOME_COLL', 'ASSOC', 'GRAD_PROF', 'UND5'] not in index"
"['LT_HS', 'SOME_COLL', 'ASSOC', 'GRAD_PROF', 'UND5'] not in index"
"['UND5'] not in index"

In [18]:
col_ages1=['UND19', 'A20_34',
       'A35_49', 'A50_64', 'A65_79', 'OV80', 'MED_AGE',]
for name,df in zip(['15','16','17','18'], all_raw):
    try:
        t=df[col_ages1]
        print(t.shape)
    except Exception as e:
        print(e)

(77, 7)
(77, 7)
(77, 7)
"['A65_79', 'OV80'] not in index"

In [19]:
for name,df in zip(['15','16','17','18'], all_raw):
    try:
        t=df[col_emp]
        print(t.shape)
    except Exception as e:
        print(e)

(77, 5)
(77, 5)
(77, 5)
(77, 5)

In [20]:
for name,df in zip(['15','16','17','18'], all_raw):
    try:
        t=df[col_inc]
        print(t.shape)
    except Exception as e:
        print(e)

"['MEDINC', 'INCPERCAP'] not in index"
"['INCPERCAP'] not in index"
"['INCPERCAP'] not in index"
"['INCPERCAP'] not in index"

In [21]:
for name,df in zip(['15','16','17','18'], all_raw):
    try:
        t=df[col_dev]
        print(t.shape)
    except Exception as e:
        print(e)

"None of [Index(['COMPUTER', 'ONLY_SMARTPHONE', 'NO_COMPUTER', 'INTERNET', 'BROADBAND',\n       'NO_INTERNET'],\n      dtype='object')] are in the [columns]"
"None of [Index(['COMPUTER', 'ONLY_SMARTPHONE', 'NO_COMPUTER', 'INTERNET', 'BROADBAND',\n       'NO_INTERNET'],\n      dtype='object')] are in the [columns]"
"None of [Index(['COMPUTER', 'ONLY_SMARTPHONE', 'NO_COMPUTER', 'INTERNET', 'BROADBAND',\n       'NO_INTERNET'],\n      dtype='object')] are in the [columns]"
"None of [Index(['COMPUTER', 'ONLY_SMARTPHONE', 'NO_COMPUTER', 'INTERNET', 'BROADBAND',\n       'NO_INTERNET'],\n      dtype='object')] are in the [columns]"

In [22]:
for name,df in zip(['15','16','17','18'], all_raw):
    try:
        t=df[col_comm]
        print(t.shape)
    except Exception as e:
        print(e)

"None of [Index(['TRANSIT_LOW_PCT', 'TRANSIT_MOD_PCT', 'TRANSIT_HIGH_PCT'], dtype='object')] are in the [columns]"
"None of [Index(['TRANSIT_LOW_PCT', 'TRANSIT_MOD_PCT', 'TRANSIT_HIGH_PCT'], dtype='object')] are in the [columns]"
"None of [Index(['TRANSIT_LOW_PCT', 'TRANSIT_MOD_PCT', 'TRANSIT_HIGH_PCT'], dtype='object')] are in the [columns]"
"None of [Index(['TRANSIT_LOW_PCT', 'TRANSIT_MOD_PCT', 'TRANSIT_HIGH_PCT'], dtype='object')] are in the [columns]"

In [23]:
for name,df in zip(['15','16','17','18'], all_raw):
    try:
        t=df[col_walk]
        print(t.shape)
    except Exception as e:
        print(e)

"None of [Index(['WALKABLE_LOW_PCT', 'WALKABLE_MOD_PCT', 'WALKABLE_HIGH_PCT'], dtype='object')] are in the [columns]"
"None of [Index(['WALKABLE_LOW_PCT', 'WALKABLE_MOD_PCT', 'WALKABLE_HIGH_PCT'], dtype='object')] are in the [columns]"
"None of [Index(['WALKABLE_LOW_PCT', 'WALKABLE_MOD_PCT', 'WALKABLE_HIGH_PCT'], dtype='object')] are in the [columns]"
"None of [Index(['WALKABLE_LOW_PCT', 'WALKABLE_MOD_PCT', 'WALKABLE_HIGH_PCT'], dtype='object')] are in the [columns]"

In [24]:
ecodata15.columns.values

array(['OBJECTID', 'CCA', '2000_POP', '2010_POP', 'POP_CHANGE',
       'TOT_EMP_RES', 'RES_NAICS1_TYPE', 'RES_NAICS2_TYPE',
       'RES_NAICS3_TYPE', 'RES_NAICS4_TYPE', 'RES_NAICS5_TYPE',
       'RES_NAICS1_COUNT', 'RES_NAICS2_COUNT', 'RES_NAICS3_COUNT',
       'RES_NAICS4_COUNT', 'RES_NAICS5_COUNT', 'TOT_EMP_WORK',
       'WORK_NAICS1_TYPE', 'WORK_NAICS2_TYPE', 'WORK_NAICS3_TYPE',
       'WORK_NAICS4_TYPE', 'WORK_NAICS5_TYPE', 'WORK_NAICS1_COUNT',
       'WORK_NAICS2_COUNT', 'WORK_NAICS3_COUNT', 'WORK_NAICS4_COUNT',
       'WORK_NAICS5_COUNT', 'RES_CITY1_TYPE', 'RES_CITY2_TYPE',
       'RES_CITY3_TYPE', 'RES_CITY4_TYPE', 'RES_CITY5_TYPE',
       'RES_CITY1_COUNT', 'RES_CITY2_COUNT', 'RES_CITY3_COUNT',
       'RES_CITY4_COUNT', 'RES_CITY5_COUNT', 'WORK_CITY1_TYPE',
       'WORK_CITY2_TYPE', 'WORK_CITY3_TYPE', 'WORK_CITY4_TYPE',
       'WORK_CITY5_TYPE', 'WORK_CITY1_COUNT', 'WORK_CITY2_COUNT',
       'WORK_CITY3_COUNT', 'WORK_CITY4_COUNT', 'WORK_CITY5_COUNT',
       'AVG_VMT', 'PARK_ACC', 'TOT_ACRES', 'SF', 'Sfperc', 'MF', 'Mfperc',
       'MIX', 'MIXperc', 'COMM', 'COMMperc', 'INST', 'INSTperc', 'IND',
       'INDperc', 'TRANS', 'TRANSperc', 'AG', 'Agperc', 'OPEN',
       'OPENperc', 'VACANT', 'VACperc', 'TOT_POP', 'UND19', 'A20_34',
       'A35_49', 'A50_64', 'A65_79', 'OV80', 'MED_AGE', 'WHITE', 'HISP',
       'BLACK', 'ASIAN', 'OTHER', 'POP_HH', 'POP_16OV', 'IN_LBFRC', 'EMP',
       'UNEMP', 'NOT_IN_LBFRC', 'WORK_AT_HOME', 'TOT_COMM', 'DROVE_AL',
       'CARPOOL', 'TRANSIT', 'WALK_BIKE', 'COMM_OTHER', 'POP_25OV', 'HS',
       'BACH', 'INC_LT_25K', 'INC_25_50K', 'INC_50_75K', 'INC_75_100K',
       'INC_100_150K', 'INC_GT_150', 'MED_INC', 'TOT_HH', 'OWN_OCC_HU',
       'RENT_OCC_HU', 'VAC_HU', 'HU_TOT', 'HU_SNG_DET', 'HU_SNG_ATT',
       'HU_2UN', 'HU_3_4UN', 'HU_GT_5UN', 'MED_ROOMS', 'HA_AFT2000',
       'HA_70_00', 'HA_40_70', 'HA_BEF1940', 'MED_HA', 'BR_0_1', 'BR_2',
       'BR_3', 'BR_4', 'BR_5', 'HV_LT_150K', 'HV_150_300K', 'HV_300_500K',
       'HV_GT_500K', 'MED_HV'], dtype=object)

In [25]:
ecodata15['GEOG']=ecodata15['CCA']
ecodata15['MEDINC']=ecodata15['MED_INC']
ecodata18['A65_79']=ecodata18['A65_74']
ecodata18['OV80']=ecodata18['A75_84']+ecodata18['OV85']

In [26]:
temp_dup=np.intersect1d(ecodata15.columns.values,ecodata16.columns.values)
# temp_dup=np.intersect1d(ecodata16.columns.values,temp_dup)
temp_dup=np.intersect1d(ecodata17.columns.values,temp_dup)
temp_dup=np.intersect1d(ecodata18.columns.values,temp_dup)
len(temp_dup)
temp_dup

array(['2000_POP', '2010_POP', 'A20_34', 'A35_49', 'A50_64', 'A65_79',
       'AG', 'ASIAN', 'AVG_VMT', 'Agperc', 'BACH', 'BLACK', 'BR_0_1',
       'BR_2', 'BR_3', 'BR_4', 'BR_5', 'CARPOOL', 'COMM', 'COMM_OTHER',
       'COMMperc', 'DROVE_AL', 'EMP', 'GEOG', 'HA_40_70', 'HA_70_00',
       'HA_AFT2000', 'HA_BEF1940', 'HISP', 'HS', 'HU_2UN', 'HU_3_4UN',
       'HU_GT_5UN', 'HU_SNG_ATT', 'HU_SNG_DET', 'HU_TOT', 'HV_150_300K',
       'HV_300_500K', 'HV_GT_500K', 'HV_LT_150K', 'INC_100_150K',
       'INC_25_50K', 'INC_50_75K', 'INC_75_100K', 'INC_GT_150',
       'INC_LT_25K', 'IND', 'INDperc', 'INST', 'INSTperc', 'IN_LBFRC',
       'MEDINC', 'MED_AGE', 'MED_HA', 'MED_HV', 'MED_ROOMS', 'MF', 'MIX',
       'MIXperc', 'Mfperc', 'NOT_IN_LBFRC', 'OBJECTID', 'OPEN',
       'OPENperc', 'OTHER', 'OV80', 'OWN_OCC_HU', 'POP_16OV', 'POP_25OV',
       'POP_HH', 'RENT_OCC_HU', 'RES_CITY1_COUNT', 'RES_CITY1_TYPE',
       'RES_CITY2_COUNT', 'RES_CITY2_TYPE', 'RES_CITY3_COUNT',
       'RES_CITY3_TYPE', 'RES_CITY4_COUNT', 'RES_CITY4_TYPE',
       'RES_CITY5_COUNT', 'RES_CITY5_TYPE', 'RES_NAICS1_COUNT',
       'RES_NAICS1_TYPE', 'RES_NAICS2_COUNT', 'RES_NAICS2_TYPE',
       'RES_NAICS3_COUNT', 'RES_NAICS3_TYPE', 'RES_NAICS4_COUNT',
       'RES_NAICS4_TYPE', 'RES_NAICS5_COUNT', 'RES_NAICS5_TYPE', 'SF',
       'Sfperc', 'TOT_ACRES', 'TOT_COMM', 'TOT_EMP_RES', 'TOT_EMP_WORK',
       'TOT_HH', 'TOT_POP', 'TRANS', 'TRANSIT', 'TRANSperc', 'UND19',
       'UNEMP', 'VACANT', 'VAC_HU', 'VACperc', 'WALK_BIKE', 'WHITE',
       'WORK_AT_HOME', 'WORK_CITY1_COUNT', 'WORK_CITY1_TYPE',
       'WORK_CITY2_COUNT', 'WORK_CITY2_TYPE', 'WORK_CITY3_COUNT',
       'WORK_CITY3_TYPE', 'WORK_CITY4_COUNT', 'WORK_CITY4_TYPE',
       'WORK_CITY5_COUNT', 'WORK_CITY5_TYPE', 'WORK_NAICS1_COUNT',
       'WORK_NAICS1_TYPE', 'WORK_NAICS2_COUNT', 'WORK_NAICS2_TYPE',
       'WORK_NAICS3_COUNT', 'WORK_NAICS3_TYPE', 'WORK_NAICS4_COUNT',
       'WORK_NAICS4_TYPE', 'WORK_NAICS5_COUNT', 'WORK_NAICS5_TYPE'],
      dtype=object)

In [35]:
all_selected_columns=col_races+col_ages1+col_emp+col_inc+['GEOG','TOT_POP','TOT_HH','MED_ROOMS']
all_selected_columns.remove('INCPERCAP')
len(all_selected_columns)

28

In [36]:
all_selected_columns=np.array(all_selected_columns)

In [37]:
all_selected_columns

array(['WHITE', 'HISP', 'BLACK', 'ASIAN', 'OTHER', 'UND19', 'A20_34',
       'A35_49', 'A50_64', 'A65_79', 'OV80', 'MED_AGE', 'IN_LBFRC', 'EMP',
       'UNEMP', 'NOT_IN_LBFRC', 'MED_HV', 'INC_LT_25K', 'INC_25_50K',
       'INC_50_75K', 'INC_75_100K', 'INC_100_150K', 'INC_GT_150',
       'MEDINC', 'GEOG', 'TOT_POP', 'TOT_HH', 'MED_ROOMS'], dtype='<U12')

In [38]:
ecodata15.columns

Index(['OBJECTID', 'CCA', '2000_POP', '2010_POP', 'POP_CHANGE', 'TOT_EMP_RES',
       'RES_NAICS1_TYPE', 'RES_NAICS2_TYPE', 'RES_NAICS3_TYPE',
       'RES_NAICS4_TYPE',
       ...
       'BR_3', 'BR_4', 'BR_5', 'HV_LT_150K', 'HV_150_300K', 'HV_300_500K',
       'HV_GT_500K', 'MED_HV', 'GEOG', 'MEDINC'],
      dtype='object', length=134)

In [39]:
ecodata15[all_selected_columns].to_csv('../Data/ProjectData/econ15_2.csv',index=False)
ecodata16[all_selected_columns].to_csv('../Data/ProjectData/econ16_2.csv',index=False)
ecodata17[all_selected_columns].to_csv('../Data/ProjectData/econ17_2.csv',index=False)
ecodata18[all_selected_columns].to_csv('../Data/ProjectData/econ18_2.csv',index=False)

In [79]:
ecodata15=pd.read_csv('./data/econ/econ15.csv')
ecodata16=pd.read_csv('./data/econ/econ16.csv')
ecodata17=pd.read_csv('./data/econ/econ17.csv')
ecodata18=pd.read_csv('./data/econ/econ18.csv')

In [41]:
pd.isnull(ecodata15).sum()

WHITE           0
HISP            0
BLACK           0
ASIAN           0
OTHER           0
UND19           0
A20_34          0
A35_49          0
A50_64          0
A65_79          0
OV80            0
MED_AGE         0
IN_LBFRC        0
EMP             0
UNEMP           0
NOT_IN_LBFRC    0
MED_HV          0
INC_LT_25K      0
INC_25_50K      0
INC_50_75K      0
INC_75_100K     0
INC_100_150K    0
INC_GT_150      0
MEDINC          0
GEOG            0
TOT_POP         0
TOT_HH          0
MED_ROOMS       0
dtype: int64

In [42]:
pd.isna(ecodata15).sum()

WHITE           0
HISP            0
BLACK           0
ASIAN           0
OTHER           0
UND19           0
A20_34          0
A35_49          0
A50_64          0
A65_79          0
OV80            0
MED_AGE         0
IN_LBFRC        0
EMP             0
UNEMP           0
NOT_IN_LBFRC    0
MED_HV          0
INC_LT_25K      0
INC_25_50K      0
INC_50_75K      0
INC_75_100K     0
INC_100_150K    0
INC_GT_150      0
MEDINC          0
GEOG            0
TOT_POP         0
TOT_HH          0
MED_ROOMS       0
dtype: int64

In [94]:
ecodata15.loc[ecodata15[ecodata15['GEOG']=='O\'Hare'].index,'GEOG']='ohare'

In [99]:
ecodata15.GEOG.values

array(['Albany Park', 'Archer Heights', 'Armour Square', 'Ashburn',
       'Auburn Gresham', 'Austin', 'Avalon Park', 'Avondale',
       'Belmont Cragin', 'Beverly', 'Bridgeport', 'Brighton Park',
       'Burnside', 'Calumet Heights', 'Chatham', 'Chicago Lawn',
       'Clearing', 'Douglas', 'Dunning', 'East Garfield Park',
       'East Side', 'Edgewater', 'Edison Park', 'Englewood',
       'Forest Glen', 'Fuller Park', 'Gage Park', 'Garfield Ridge',
       'Grand Boulevard', 'Greater Grand Crossing', 'Hegewisch',
       'Hermosa', 'Humboldt Park', 'Hyde Park', 'Irving Park',
       'Jefferson Park', 'Kenwood', 'Lake View', 'Lincoln Park',
       'Lincoln Square', 'Logan Square', 'Lower West Side',
       'McKinley Park', 'Montclare', 'Morgan Park', 'Mount Greenwood',
       'Near North Side', 'Near South Side', 'Near West Side', 'New City',
       'North Center', 'North Lawndale', 'North Park', 'Norwood Park',
       'ohare', 'Oakland', 'Portage Park', 'Pullman', 'Riverdale',
       'Rogers Park', 'Roseland', 'South Chicago', 'South Deering',
       'South Lawndale', 'South Shore', 'The Loop', 'Uptown',
       'Washington Heights', 'Washington Park', 'West Elsdon',
       'West Englewood', 'West Garfield Park', 'West Lawn',
       'West Pullman', 'West Ridge', 'West Town', 'Woodlawn'],
      dtype=object)

In [64]:
ecodata18[ecodata18['GEOG']=='Oakland']['GEOG']='Oakland1'

/tmp/ipykernel_3791260/1541620989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ecodata18[ecodata18['GEOG']=='Oakland']['GEOG']='Oakland1'

In [100]:
ecodata15[ecodata15['GEOG']=='Loop'].index

Index([], dtype='int64')

In [101]:
ecodata15=pd.read_csv('./Data/ProjectData/econ15.csv')